@using PresentationLayer.Models
@using DataLayer.Entity
@model AllEventModel

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="row-container">
    <div class="row container-сenter container-scrol">
        @foreach (Event item in Model.Events)
        {
            <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3 col-sm-6 item-event"
             onclick="openModal({url: '/Teacher/DescriptionEvent', data: '@item.Id'})">
                
                <div class="content-main">
                    <div class="content-item">
                        <div class="background-item"></div>
                        <div class="test">
                            <div class="date-event">
                                @item.DateTimeEvent
                            </div>
                            <div class="address">
                                @item.Title
                            </div>
                        </div>
                    </div>
                    <img src="@item.Img" alt="" class="img-event">
                </div>
            </div>
        }
        <div class="down-block">
            <a asp-action="CreateEvent" asp-controller="Teacher"><img src="~/img/icons8-плюс-80.png"  alt="" class="image-icon-plus"> </a>   
        </div>
    </div>

</div>
